<!DOCTYPE html>
<html>
<head>
    <title>FizzBuzz - Client side JS</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/fizzbuzz.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.1.js")"></script>

    <script type="text/javascript">
        var viewModel = {
            items: ko.observableArray([]),
            startNumber: ko.observable(0),
            endNumber: ko.observable(200)
        };

        viewModel.hasItems = ko.computed(function () {
            return viewModel.items().length > 0;
        });

        viewModel.addItems = function (startNumber, endNumber) {
            if (startNumber === 'undefined' || typeof (startNumber)!=='number')
                startNumber = viewModel.startNumber();
            if (endNumber === 'undefined' || typeof (endNumber) !== 'number')
                endNumber = viewModel.endNumber();

            FizzBuzz.get(startNumber, endNumber, function (items) {
                ko.utils.arrayForEach(items, function (item) {
                    viewModel.items.push(item);
                });
            });
        };

        $(function () {
            viewModel.addItems(1, 100);
            ko.applyBindings(viewModel);

            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    viewModel.addItems(viewModel.items().length, viewModel.items().length + 2);
                }
            });

            $('#clearAllLink').click(function () {
                viewModel.items([]);
            });
        });

    </script>
</head>
<body>
    <div id="controls">
        <a id="clearAllLink" href="javascript:void(0)" data-bind="visible: hasItems()">Clear All</a>
        <div data-bind="visible: !hasItems()">
            Add:
            <input type="text" placeholder="Start" id="addItemsStartValue" data-bind="value: startNumber" />
            <input type="text" placeholder="End" id="addItemsEndValue" data-bind="value: endNumber" />
            | <a href="javascript:void(0)" data-bind="click: addItems">Go</a>
        </div>
    </div>
    <div id="main" data-bind="foreach: items">
        <div class="item" data-bind="text: $data"></div>
    </div>
</body>
</html>
